# Вказуємо базовий образ
FROM python:3.11

# Встановлюємо робочу директорію в контейнері
WORKDIR /app

# Копіюємо файл вимог
COPY requirements.txt /app/

# Встановлюємо залежності
RUN pip install --no-cache-dir -r requirements.txt

# Копіюємо весь проект у контейнер
COPY . /app/

# Виконуємо міграції бази даних
RUN python manage.py migrate

# Вказуємо команду для запуску сервера
CMD ["gunicorn", "fleet.wsgi:application", "--bind", "0.0.0.0:8000"]
