# Specify the base image
FROM python:3.11

# Set the working directory inside the container
WORKDIR /app

# Copy the requirements file
COPY requirements.txt /app/

# Install dependencies
RUN pip install --no-cache-dir -r requirements.txt

# Copy the entire project into the container
COPY . /app/

# Run database migrations
RUN python manage.py migrate

# Specify the command to run the server
CMD ["gunicorn", "fleet.wsgi:application", "--bind", "0.0.0.0:8000"]
